.container {
	margin: auto;
	padding: 10%;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: larger;
}

.date, .time {
	margin: auto;
	padding: 10%;
	text-align: center;
	font-size: 2.5rem;
	color: blue;
}